In [18]:
import os
import json
import random
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
import requests
import datetime as dt # to put a datestamp on the outputs
from pprint import pprint
from scipy.stats import linregress



# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../Resources/census.csv"

In [19]:
df = pd.read_csv("census.csv")
df.head()

,Unnamed: 0,Metro Area,2012 Pop,2012 Household Income,2017 Pop,2017 Household Income
0,0,"Aberdeen, SD Micro Area",40612,49652,42608,54533
1,1,"Aberdeen, WA Micro Area",72272,42440,71454,45483
2,2,"Abilene, TX Metro Area",165083,44007,169000,48156
3,3,"Ada, OK Micro Area",37438,40680,38289,46689
4,4,"Adjuntas, PR Micro Area",19458,13095,18525,11680

In [31]:
df["Pop Growth"] = df['2017 Pop'] - df['2012 Pop']
df.head()

,Unnamed: 0,Metro Area,2012 Pop,2012 Household Income,2017 Pop,2017 Household Income,Pop Growth
0,0,"Aberdeen, SD Micro Area",40612,49652,42608,54533,1996
1,1,"Aberdeen, WA Micro Area",72272,42440,71454,45483,-818
2,2,"Abilene, TX Metro Area",165083,44007,169000,48156,3917
3,3,"Ada, OK Micro Area",37438,40680,38289,46689,851
4,4,"Adjuntas, PR Micro Area",19458,13095,18525,11680,-933

In [33]:
New_df = df.loc[(df['2017 Pop']>=200000)]
New_df.head()

,Unnamed: 0,Metro Area,2012 Pop,2012 Household Income,2017 Pop,2017 Household Income,Pop Growth
6,6,"Akron, OH Metro Area",702966,49936,703398,53418,432
9,9,"Albany-Schenectady-Troy, NY Metro Area",870890,60841,881862,65743,10972
13,13,"Albuquerque, NM Metro Area",885683,48990,905049,50781,19366
18,18,"Allentown-Bethlehem-Easton, PA-NJ Metro Area",821273,58111,832790,62479,11517
23,23,"Amarillo, TX Metro Area",250224,47866,261827,53665,11603

In [34]:
New_df.to_csv("Census_N.csv")