In [111]:
import requests
import json
import pandas as pd
from config import api_key
import warnings
warnings.filterwarnings('ignore')

In [84]:
#write api call for 2017 data and get response
long_url2 = "https://api.census.gov/data/2017/acs/acs5/?get=B01001_001E,B19013_001E,NAME&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key="
response2 = requests.get(long_url2+api_key)
print(response2)

<Response [200]>

In [85]:
#read json
response2=response2.json()

In [86]:
#convert to dataframe and clean up header
census_pd_2017 = pd.DataFrame(response2)
census_pd_2017.columns = census_pd_2017.iloc[0]
census_pd_2017 = census_pd_2017.iloc[1:]
census_pd_2017.head()

,B01001_001E,B19013_001E,NAME,metropolitan statistical area/micropolitan statistical area
1,42608,54533,"Aberdeen, SD Micro Area",10100
2,71454,45483,"Aberdeen, WA Micro Area",10140
3,169000,48156,"Abilene, TX Metro Area",10180
4,38289,46689,"Ada, OK Micro Area",10220
5,18525,11680,"Adjuntas, PR Micro Area",10260

In [87]:
#rename columns
census_pd_2017 = census_pd_2017.rename(columns={"B01001_001E": "2017 Pop","B19013_001E": "2017 Household Income","NAME": "Metro Area", "metropolitan statistical area/micropolitan statistical area":"Metro Code"})
census_pd_2017.head()

0 2017 Pop 2017 Household Income               Metro Area Metro Code
1    42608                 54533  Aberdeen, SD Micro Area      10100
2    71454                 45483  Aberdeen, WA Micro Area      10140
3   169000                 48156   Abilene, TX Metro Area      10180
4    38289                 46689       Ada, OK Micro Area      10220
5    18525                 11680  Adjuntas, PR Micro Area      10260

In [80]:
#make API call for 2012 data and read json
long_url3 = "https://api.census.gov/data/2012/acs/acs5/?get=B01001_001E,B19013_001E,NAME&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key="
response3 = requests.get(long_url3+api_key)
print(response3)

response3=response3.json()

<Response [200]>

In [88]:
#convert to dataframe
census_pd_2012 = pd.DataFrame(response3)
census_pd_2012.columns = census_pd_2012.iloc[0]
census_pd_2012 = census_pd_2012.iloc[1:]
census_pd_2012.head()

,B01001_001E,B19013_001E,NAME,metropolitan statistical area/micropolitan statistical area
1,58041,44339,"Abbeville, LA Micro Area",10020
2,40612,49652,"Aberdeen, SD Micro Area",10100
3,72272,42440,"Aberdeen, WA Micro Area",10140
4,165083,44007,"Abilene, TX Metro Area",10180
5,37438,40680,"Ada, OK Micro Area",10220

In [89]:
#rename columns
census_pd_2012 = census_pd_2012.rename(columns={"B01001_001E": "2012 Pop","B19013_001E": "2012 Household Income","NAME": "Metro Area", "metropolitan statistical area/micropolitan statistical area":"Metro Code"})
census_pd_2012.head()

0 2012 Pop 2012 Household Income                Metro Area Metro Code
1    58041                 44339  Abbeville, LA Micro Area      10020
2    40612                 49652   Aberdeen, SD Micro Area      10100
3    72272                 42440   Aberdeen, WA Micro Area      10140
4   165083                 44007    Abilene, TX Metro Area      10180
5    37438                 40680        Ada, OK Micro Area      10220

In [90]:
#merge 2013 and 2017 df's 
census_final = pd.merge(census_pd_2012,census_pd_2017, on="Metro Area", how="inner")

In [91]:
census_final.head()

,2012 Pop,2012 Household Income,Metro Area,Metro Code_x,2017 Pop,2017 Household Income,Metro Code_y
0,40612,49652,"Aberdeen, SD Micro Area",10100,42608,54533,10100
1,72272,42440,"Aberdeen, WA Micro Area",10140,71454,45483,10140
2,165083,44007,"Abilene, TX Metro Area",10180,169000,48156,10180
3,37438,40680,"Ada, OK Micro Area",10220,38289,46689,10220
4,19458,13095,"Adjuntas, PR Micro Area",10260,18525,11680,10260

In [ ]:
#clean up columns
census_final = census_final.drop(census_final.columns[[3, 6]], axis=1)

In [94]:
census_final.head()

,2012 Pop,2012 Household Income,Metro Area,2017 Pop,2017 Household Income
0,40612,49652,"Aberdeen, SD Micro Area",42608,54533
1,72272,42440,"Aberdeen, WA Micro Area",71454,45483
2,165083,44007,"Abilene, TX Metro Area",169000,48156
3,37438,40680,"Ada, OK Micro Area",38289,46689
4,19458,13095,"Adjuntas, PR Micro Area",18525,11680

In [95]:
#reorder columns
census_final = census_final[['Metro Area','2012 Pop', '2012 Household Income','2017 Pop', '2017 Household Income']]

In [96]:
census_final.head()

,Metro Area,2012 Pop,2012 Household Income,2017 Pop,2017 Household Income
0,"Aberdeen, SD Micro Area",40612,49652,42608,54533
1,"Aberdeen, WA Micro Area",72272,42440,71454,45483
2,"Abilene, TX Metro Area",165083,44007,169000,48156
3,"Ada, OK Micro Area",37438,40680,38289,46689
4,"Adjuntas, PR Micro Area",19458,13095,18525,11680

In [97]:
#export to CSV 
census_final.to_csv("census.csv")

In [105]:
#census_final.loc[census_final['2017 Pop'] > 200000]
census_final.dtypes

0
Metro Area               object
2012 Pop                 object
2012 Household Income    object
2017 Pop                 object
2017 Household Income    object
dtype: object

In [130]:
census_final[["2012 Pop", "2012 Household Income","2017 Pop","2017 Household Income"]] = census_final[["2012 Pop", "2012 Household Income","2017 Pop","2017 Household Income"]].apply(pd.to_numeric)

In [107]:
census_final.dtypes

0
Metro Area               object
2012 Pop                  int64
2012 Household Income     int64
2017 Pop                  int64
2017 Household Income     int64
dtype: object

In [131]:
census_filter = census_final.loc[census_final['2017 Pop'] > 200000]
census_filter.head()

,Metro Area,2012 Pop,2012 Household Income,2017 Pop,2017 Household Income
6,"Akron, OH Metro Area",702966,49936,703398,53418
9,"Albany-Schenectady-Troy, NY Metro Area",870890,60841,881862,65743
13,"Albuquerque, NM Metro Area",885683,48990,905049,50781
18,"Allentown-Bethlehem-Easton, PA-NJ Metro Area",821273,58111,832790,62479
23,"Amarillo, TX Metro Area",250224,47866,261827,53665

In [132]:
census_filter["Population Growth"] = (census_filter["2017 Pop"]/census_filter["2012 Pop"]) - 1 
census_filter["Income Growth"] = (census_filter["2017 Household Income"]/census_filter["2012 Household Income"]) - 1

In [114]:
census_filter.head()

,Metro Area,2012 Pop,2012 Household Income,2017 Pop,2017 Household Income,Population Growth,Income Growth
6,"Akron, OH Metro Area",702966,49936,703398,53418,0.000615,0.069729
9,"Albany-Schenectady-Troy, NY Metro Area",870890,60841,881862,65743,0.012599,0.080571
13,"Albuquerque, NM Metro Area",885683,48990,905049,50781,0.021866,0.036558
18,"Allentown-Bethlehem-Easton, PA-NJ Metro Area",821273,58111,832790,62479,0.014023,0.075166
23,"Amarillo, TX Metro Area",250224,47866,261827,53665,0.046370,0.121151

In [133]:
census_filter["Population Rank"] = census_filter["Population Growth"].rank()

In [134]:
census_filter["Income Rank"] = census_filter["Income Growth"].rank()

In [135]:
census_filter["Total Score"] = census_filter["Population Rank"] + census_filter["Income Rank"]

In [141]:
census_filter
census_filter.sort_values(["Total Score"], ascending=[False] )
reset_index(drop=True,inplace=True)

,Metro Area,2012 Pop,2012 Household Income,2017 Pop,2017 Household Income,Population Growth,Income Growth,Population Rank,Income Rank,Total Score
63,"Grand Rapids-Wyoming, MI Metro Area",777159,50491,1039182,58094,0.337155,0.150581,163.0,161.0,324.0
105,"Huntington-Ashland, WV-KY-OH Metro Area",287234,38797,360603,44315,0.255433,0.142227,160.0,158.0,318.0
67,"Greeley, CO Metro Area",253552,56589,285729,66489,0.126905,0.174946,153.0,165.0,318.0
588,"Nashville-Davidson--Murfreesboro--Franklin, TN...",1595454,52779,1830410,59365,0.147266,0.124784,156.0,153.0,309.0
465,"Fargo, ND-MN Metro Area",209177,51411,232660,59074,0.112264,0.149054,147.0,160.0,307.0
515,"Tuscaloosa, AL Metro Area",219071,41557,239589,48344,0.093659,0.163318,141.0,163.0,304.0
379,"College Station-Bryan, TX Metro Area",227843,38599,248554,45078,0.090900,0.167854,139.0,164.0,303.0
470,"Fayetteville-Springdale-Rogers, AR-MO Metro Area",464729,46428,514166,52551,0.106378,0.131882,144.0,156.0,300.0
672,"Provo-Orem, UT Metro Area",526804,59594,587190,66742,0.114627,0.119945,149.0,146.0,295.0
731,"Seattle-Tacoma-Bellevue, WA Metro Area",3453748,67437,3735216,77269,0.081496,0.145795,133.0,159.0,292.0
721,"San Jose-Sunnyvale-Santa Clara, CA Metro Area",1843860,89940,1969897,105809,0.068355,0.176440,123.0,166.0,289.0
665,"Portland-Vancouver-Hillsboro, OR-WA Metro Area",2232607,57896,2382037,66657,0.066931,0.151323,122.0,162.0,284.0
230,"McAllen-Edinburg-Mission, TX Metro Area",774820,33218,839539,37097,0.083528,0.116774,134.0,143.0,277.0
200,"Lubbock, TX Metro Area",284439,43800,309722,48709,0.088887,0.112078,137.0,139.0,276.0
726,"Savannah, GA Metro Area",349163,49243,377476,55021,0.081088,0.117336,131.0,144.0,275.0
611,"Ogden-Clearfield, UT Metro Area",547089,62637,642274,68558,0.173984,0.094529,158.0,114.0,272.0
753,"Sioux Falls, SD Metro Area",229333,56135,250564,62047,0.092577,0.105318,140.0,130.0,270.0
316,"Boulder, CO Metro Area",297218,67403,316782,75669,0.065824,0.122635,119.0,150.0,269.0
537,"Waco, TX Metro Area",234626,41589,263009,45721,0.120971,0.099353,150.0,119.0,269.0
719,"San Antonio-New Braunfels, TX Metro Area",2149153,51208,2377507,56495,0.106253,0.103246,143.0,123.0,266.0
615,"Oklahoma City, OK Metro Area",1256947,49534,1353504,54946,0.076819,0.109258,128.0,137.0,265.0
387,"Columbus, OH Metro Area",1840267,54628,2023695,60170,0.099675,0.101450,142.0,122.0,264.0
714,"Salem, OR Metro Area",390839,47687,410119,54304,0.049330,0.138759,106.0,157.0,263.0
206,"Madison, WI Metro Area",570687,61006,640072,66609,0.121582,0.091843,151.0,112.0,263.0
437,"Durham-Chapel Hill, NC Metro Area",506459,52143,550281,57600,0.086526,0.104655,135.0,127.0,262.0
407,"Dallas-Fort Worth-Arlington, TX Metro Area",6400781,58190,7104415,63870,0.109929,0.097611,145.0,117.0,262.0
421,"Des Moines-West Des Moines, IA Metro Area",571592,59898,623113,65971,0.090136,0.101389,138.0,121.0,259.0
249,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",3290811,66751,3526149,73735,0.071514,0.104628,126.0,126.0,252.0
396,"Corpus Christi, TX Metro Area",429311,47108,450183,52883,0.048617,0.122591,103.0,149.0,252.0
23,"Amarillo, TX Metro Area",250224,47866,261827,53665,0.046370,0.121151,100.0,148.0,248.0
...,...,...,...,...,...,...,...,...,...,...
196,"Longview, TX Metro Area",214048,45565,216934,48359,0.013483,0.061319,43.0,46.0,89.0
512,"Tucson, AZ Metro Area",981048,46443,1007257,48676,0.026715,0.048080,65.0,21.0,86.0
163,"Lake Havasu City-Kingman, AZ Metro Area",201216,39383,204691,41567,0.017270,0.055455,50.0,35.0,85.0
534,"Virginia Beach-Norfolk-Newport News, VA-NC Met...",1674571,59293,1717708,61889,0.025760,0.043783,63.0,19.0,82.0
488,"Fort Wayne, IN Metro Area",416851,50082,429060,51642,0.029289,0.031149,69.0,10.0,79.0
149,"Kingsport-Bristol-Bristol, TN-VA Metro Area",308899,38925,306745,41558,-0.006973,0.067643,17.0,61.0,78.0
506,"Toledo, OH Metro Area",651532,45078,605204,48284,-0.071106,0.071121,5.0,72.0,77.0
694,"Rochester, NY Metro Area",1054160,53155,1080653,55256,0.025132,0.039526,60.0,17.0,77.0
574,"York-Hanover, PA Metro Area",434579,58747,442216,61707,0.017573,0.050386,51.0,24.0,75.0
762,"Springfield, IL Metro Area",210202,55588,210550,58956,0.001656,0.060589,32.0,43.0,75.0
644,"Peoria, IL Metro Area",378886,53925,377258,57301,-0.004297,0.062605,21.0,49.0,70.0
455,"Erie, PA Metro Area",280181,45249,277794,48192,-0.008519,0.065040,16.0,54.0,70.0
13,"Albuquerque, NM Metro Area",885683,48990,905049,50781,0.021866,0.036558,53.0,13.0,66.0
170,"Las Cruces, NM Metro Area",208794,38462,213849,39114,0.024210,0.016952,57.0,7.0,64.0
575,"Youngstown-Warren-Boardman, OH-PA Metro Area",564768,42224,548821,44947,-0.028236,0.064489,10.0,53.0,63.0
521,"Utica-Rome, NY Metro Area",298811,47949,295267,50814,-0.011860,0.059751,13.0,42.0,55.0
44,"Atlantic City-Hammonton, NJ Metro Area",274402,54559,272926,57514,-0.005379,0.054162,19.0,32.0,51.0
132,"Johnson City, TN Metro Area",198658,39098,200767,40429,0.010616,0.034043,38.0,12.0,50.0
563,"Wilmington, NC Metro Area",363648,48182,277496,51137,-0.236910,0.061330,2.0,47.0,49.0
476,"Flint, MI Metro Area",425337,42730,410881,45231,-0.033987,0.058530,8.0,40.0,48.0
594,"New Haven-Milford, CT Metro Area",860995,62234,862127,64872,0.001315,0.042388,30.0,18.0,48.0
303,"Binghamton, NY Metro Area",250995,48114,245446,50673,-0.022108,0.053186,11.0,30.0,41.0
763,"Springfield, MA Metro Area",694411,52395,630385,55306,-0.092202,0.055559,4.0,36.0,40.0
258,"Montgomery, AL Metro Area",374600,47317,373507,49089,-0.002918,0.037450,24.0,15.0,39.0
695,"Rockford, IL Metro Area",348574,49752,341150,52360,-0.021298,0.052420,12.0,27.0,39.0
477,"Florence, SC Metro Area",205214,40639,206109,40888,0.004361,0.006127,34.0,5.0,39.0
487,"Fort Smith, AR-OK Metro Area",297576,38652,280705,40686,-0.056695,0.052623,6.0,29.0,35.0
460,"Evansville, IN-KY Metro Area",358402,47577,315263,49873,-0.120365,0.048259,3.0,22.0,25.0
606,"Norwich-New London, CT Metro Area",273723,68310,270772,69411,-0.010781,0.016118,14.0,6.0,20.0
359,"Charleston, WV Metro Area",303995,46053,219964,45155,-0.276422,-0.019499,1.0,3.0,4.0